.nav {
  padding: 16px 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-900);
  z-index: 99;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: #fff;
}
.logo {
  width: 150px;
}
